.App {
  font-family: "Nunito Sans", sans-serif;
}
.justify-content-center {
  background-color: black;
}
.color {
  color: white;
  margin: 40px 90px;
}
.color:hover {
  color: #777477;
}

.cardviwe {
  display: flex;
  justify-content: space-around;
  margin: 100px 0 0 0;
}
.totalstyle {
  text-align: center;
  align-items: center;
  margin: 50px;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(6, 6, 6);
  color: white;
  font-size: small;
  padding: 30px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ftco-animate {
  margin: 20px;
}
.socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
